@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
* {
  font-family: Hind Siliguri;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #790C5A;
  transition: background-color 0.5s;
}

body {
  background-color: #F1D4D4;
}

h1 {
  text-align: center;
  color: #790C5A;
  font-weight: bolder;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #790C5A;
  font-weight: bolder;
}

h3 {
  text-align: center;
  padding: 30px;
  font-weight: bolder;
  font-style: italic;
  color: #790C5A;
}

.barraDeNavegacion__imagen {
  height: 300px;
  background-image: url(../img/resort.jpg);
  background-position: center;
  width: vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.header__link {
  margin: auto;
}

@media screen and (min-width: 0px) {
  .header__logo {
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    height: 320px;
  }
}

.header {
  background-color: lightpink;
}
@media screen and (min-width: 0px) {
  .header {
    height: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 345px;
  }
}

@media screen and (min-width: 0px) {
  .header__listaServicios li {
    display: inline;
  }
}

.header__listaServicios {
  display: flex;
}
@media screen and (min-width: 0px) {
  .header__listaServicios {
    height: 40px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .header__listaServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 0px) {
  .header__listaServicios li {
    margin: 1rem;
    padding: 1rem;
    font-size: 25px;
  }
}

.header__listaServicios {
  list-style: none;
}

.header__listaServicios li {
  position: relative;
}

.header__listaServicios ul {
  position: absolute;
  display: none;
}

.header__listaServicios ul li {
  display: block;
}

.header__listaServicios li:hover ul {
  display: block;
}

.header__seccionesNavegacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #790C5A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
@media screen and (min-width: 0px) {
  footer {
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    padding: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    height: 150px;
  }
}

.footer__img {
  height: 45px;
  width: 65px;
}

.formulario {
  width: 95vw;
  margin: auto;
}

.contactoPadre__dondeEstamos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.bienvenida {
  margin: 2rem;
}

.tarjetasBienvenida {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.tarjetasBienvenida__tarjeta {
  width: 300px;
  height: 700px;
  background-color: white;
  padding: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
}

.tarjetasBienvenida__imagen {
  width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  margin-right: 6rem;
}
.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
  mix-blend-mode: overlay;
}

.tarjetasHotSale {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 0px) {
  .tarjetasHotSale {
    margin-left: 20%;
  }
}
@media screen and (min-width: 768px) {
  .tarjetasHotSale {
    margin: 1rem;
    margin-left: 5rem;
  }
}

.promos__hijo {
  display: grid;
  grid-row: 50% 50%;
}

.promos__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 1rem;
}

.seccionPromo_link {
  background-color: #F1D4D4;
  color: #790C5A;
  border-color: #F1D4D4;
}

.seccionPromo {
  width: 18rem;
}

.servicios {
  display: grid;
  height: 500px;
  margin: 1rem;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 40% 40% 10%;
}

.servicios__contenido {
  display: grid;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-style: solid;
  border-radius: 30px;
}
@media screen and (min-width: 0px) {
  .servicios__contenido {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;
  }
}
@media screen and (min-width: 768px) {
  .servicios__contenido {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
  }
}

.servicios {
  background-position: center;
  width: vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.servicios__titulo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.servicios__listado {
  list-style: none;
}
@media screen and (min-width: 0px) {
  .servicios__listado {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .servicios__listado {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (min-width: 0px) {
  .servicio__detalles {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
  }
}
@media screen and (min-width: 768px) {
  .servicio__detalles {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.tarjetaServicios1 {
  background-image: url("../../../img/massage-g9a3a5baf7_1920.jpg");
}

.tarjetaServicios2 {
  background-image: url("../../../img/massage-therapy-g0663311ae_1280.jpg");
}

.tarjetaServicios3 {
  background-image: url("../../../img/spahotel1.jpg");
}

.sobreNosotros {
  display: flex;
}
@media screen and (min-width: 0px) {
  .sobreNosotros {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .sobreNosotros {
    flex-direction: row;
  }
}

.sobreNosotros__parrafo {
  text-align: center;
  margin-top: rem;
  justify-items: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 2;
  color: rebeccapurple;
  padding: 0 1rem 1rem 1rem;
}

.sobreNosotros__historia {
  justify-content: right;
  margin: 2rem;
  text-align: center;
  background-color: snow;
}

.sobreNosotros__titulo {
  margin-top: 3rem;
}

.videoSalon {
  justify-content: left;
  margin: 2rem;
}
@media screen and (min-width: 0px) {
  .videoSalon iframe {
    height: 400px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .videoSalon iframe {
    height: 400px;
    width: 500px;
  }
}

.carousel {
  width: 790px;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.staff__cv {
  background-color: snow;
  color: black;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: large;
}/*# sourceMappingURL=style.css.map */