@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

@mixin colorSombreado {
    color: #790C5A;
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
}

@mixin estiloServicios {
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

$breakpoints:(sm: 0px,
    md: 768px,
    lg: 1024px);

@mixin responsive($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hind Siliguri;
}

a {
    text-decoration: none;
    color: #790C5A;
    transition: background-color .5s;
}

body {
    background-color: #F1D4D4;
}

.header__bannerLogo {
    width: 100%;
}

.header__seccionesNavegacion {

    li {
        display: inline-block;
        background-color: #790C5A;
        padding: 15px;
        border: #790C5A;
        border-radius: 1rem;
        margin: 18px;

        @include responsive(sm) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            @include responsive(md) {
                display: inline-block;
            }

            a {
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
}

footer {
    background-color: #790C5A;
    margin-top: 160px;
    padding: 10px;
}

.footer__datosContacto {
    color: white;
    margin: 0px;
    display: inline;
    text-align: right;
}


h2 {
    text-align: center;
    color: #790C5A;
    font-weight: bolder;
}

.bienvenida {
    margin: 1rem;
}

.tablaPromo {
    @include estiloServicios();
}

.tablaPromo__lista td {
    padding: 50px;
}

h1 {
    text-align: center;
    @include colorSombreado();
}

.header__listaServicios {
    list-style: none;
}

.header__listaServicios li {
    position: relative;
}

.header__listaServicios ul {
    position: absolute;
    display: none;
}

.header__listaServicios ul li {
    display: block;
}

.header__listaServicios li:hover ul {
    display: block;
}

.header__seccionesNavegacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.textoHijo {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    align-content: center;
}

.tablaPromo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 3rem;
}

.staff__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sobreNosotros {
    display: flex;
}

.sobreNosotros__historia {
    justify-content: right;
    margin: 1rem;
    margin-top: 60px;
    text-align: center;
}

#videoSalon {
    justify-content: left;
    margin: 2rem;
}

#contactoPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
    justify-items: center;
    align-items: center;
}

.staff {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 350px 100px;
    grid-row-gap: 5px;
}

.hotSale {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 50px;
    column-gap: 1em;
}

.hotSale__promo {
    background-color: whitesmoke;
    margin: 10px;
    padding: 100px;
}

h3 {
    text-align: center;
    padding: 30px;
    font-weight: bolder;
    font-style: italic;
    color: #790C5A;
}

.card {
    padding: 10px;
    align-items: flex-start;
    margin-left: 4rem;
}

.accordion {
    padding: 2rem;
    margin: 1rem;
}

.promos__hijo {
    display: grid;
    grid-row: 50% 50%;
}

.promos__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1rem;
}

.carousel {
    width: 790px;
    height: 460px;
}

.contactoPadre__formulario {
    margin-left: 2rem;
    margin-top: 6rem;
}

.contactoPadre__dondeEstamos {
    margin-left: 6rem;
    align-content: center;
}

.contactoPadre__img {
    margin: 3rem;
    height: 450px;
    width: 500px;
}

.staff__cv {
    background-color: snow;
    color: black;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    font-size: large;
}

.seccionPromo_link {
    background-color: #F1D4D4;
    color: #790C5A;
    border-color: #F1D4D4;
}

.textoIndex {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.textoHijo {
    background-color: #790C5A;
    margin: 1rem;
    padding: 1rem;
    align-content: center;
    color: #F1D4D4;
    text-align: center;
}




.slide-top {
    -webkit-animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms both;
    animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}