@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
* {
  font-family: Hind Siliguri;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #790C5A;
  transition: background-color 0.5s;
}

body {
  background-color: #F1D4D4;
}

h1 {
  text-align: center;
  color: #790C5A;
  font-weight: bolder;
  text-shadow: 2px 2px #000000;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #790C5A;
  font-weight: bolder;
}

h3 {
  text-align: center;
  padding: 30px;
  font-weight: bolder;
  font-style: italic;
  color: #790C5A;
}

.barraDeNavegacion__imagen {
  height: 300px;
  background-image: url(../img/resort.jpg);
  background-position: center;
  width: vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

.header__link {
  margin: auto;
}

@media screen and (min-width: 0px) {
  .header__logo {
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    height: 320px;
  }
}

.header {
  background-color: lightpink;
}
@media screen and (min-width: 0px) {
  .header {
    height: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 345px;
  }
}

@media screen and (min-width: 0px) {
  .header__listaServicios li {
    display: inline;
  }
}

.header__listaServicios {
  display: flex;
}
@media screen and (min-width: 0px) {
  .header__listaServicios {
    height: 40px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .header__listaServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 0px) {
  .header__listaServicios li {
    margin: 1rem;
    padding: 1rem;
    font-size: 25px;
  }
}

.header__listaServicios {
  list-style: none;
}

.header__listaServicios li {
  position: relative;
}

.header__listaServicios ul {
  position: absolute;
  display: none;
}

.header__listaServicios ul li {
  display: block;
}

.header__listaServicios li:hover ul {
  display: block;
}

.header__seccionesNavegacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #790C5A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
}
@media screen and (min-width: 0px) {
  footer {
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    padding: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    height: 150px;
  }
}

.footer__img {
  height: 45px;
  width: 65px;
}

#contactoPadre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 60%;
  justify-items: center;
  align-items: center;
}

.contactoPadre__formulario {
  margin-left: 2rem;
  margin-top: 6rem;
}

.contactoPadre__dondeEstamos {
  margin-left: 6rem;
  align-content: center;
}

.contactoPadre__img {
  margin: 3rem;
  height: 450px;
  width: 500px;
}

.bienvenida {
  margin: 1rem;
}

.contenedores {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
@media screen and (min-width: 0px) {
  .contenedores {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  .contenedores {
    flex-direction: row;
  }
}

.cont__img1 {
  background-image: url(../img/sparelax.jpg);
}

.cont__img2 {
  background-image: url(../img/manicure.jpg);
}

.cont__img3 {
  background-image: url(../img/hotstone.jpg);
}

.hotSale {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 50px;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

.card {
  padding: 10px;
  align-items: flex-start;
  margin-left: 4rem;
}

.hotSale__promo {
  background-color: whitesmoke;
  margin: 10px;
  padding: 100px;
}

.textoIndex {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.slide-top {
  -webkit-animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1000ms both;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1000ms both;
}

@-webkit-keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
.cont1 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.cont__texto {
  height: 300px;
  width: 500px;
  background-color: #790C5A;
}
.cont__texto p {
  color: #F1D4D4;
  text-align: center;
  padding-top: 1rem;
}

.promos__hijo {
  display: grid;
  grid-row: 50% 50%;
}

.promos__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 1rem;
}

.seccionPromo_link {
  background-color: #F1D4D4;
  color: #790C5A;
  border-color: #F1D4D4;
}

.seccionPromo {
  width: 18rem;
}

.tablaPromo {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.tablaPromo__lista td {
  padding: 50px;
}

.tablaPromo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin: 3rem;
}

.sobreNosotros {
  display: flex;
}

.sobreNosotros__historia {
  justify-content: right;
  margin: 1rem;
  margin-top: 60px;
  text-align: center;
}

#videoSalon {
  justify-content: left;
  margin: 2rem;
}

.carousel {
  width: 790px;
  height: 460px;
}

.staff__cv {
  background-color: snow;
  color: black;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: large;
}/*# sourceMappingURL=style.css.map */