footer {
    background-color: #790C5A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;

    @include responsive(sm) {
     flex-direction: column;
     height: 350px;
     justify-content: space-between;
     padding: 1rem;
    }

    @include responsive(lg) {
    flex-direction: row;
    height: 150px;
    }
}

.footer__img {
    height: 45px;
    width: 65px;
}
