.bienvenida {
    margin: 2rem;
}

.tarjetasBienvenida {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.tarjetasBienvenida__tarjeta {
    width: 300px;
    height: 700px;
    background-color: white;
    padding: 1rem;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
}

.tarjetasBienvenida__imagen {
    width: 100%;
}


.tarjetasHotSale {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-around;
    align-items: center;

    @include responsive(md) {
        margin: 2rem;
    }
}

.card {
    height: 40rem;
}

.btn {
    background-color: lightpink;
    border-color: lightpink;
    color: black;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.btn:hover {
    background-color: rosybrown;
    border-color: rosybrown;
}

.card-body {
    text-align: center;
    margin-top: 1rem;
}