.bienvenida {
    margin: 1rem;
}

.contenedores {
    display: flex;
    gap: 1rem;
    margin: 1rem;


    @include responsive (sm) {
        flex-direction: column;
    }

    @include responsive (lg) {
        flex-direction: row;
    }
}

.cont__img1 {
    background-image: url(../img/sparelax.jpg);
}

.cont__img2 {
    background-image: url(../img/manicure.jpg);
}

.cont__img3 {
    background-image: url(../img/hotstone.jpg);
}


.hotSale {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 50px;
    column-gap: 1em;
}

.card {
    padding: 10px;
    align-items: flex-start;
    margin-left: 4rem;
}

.hotSale__promo {
    background-color: whitesmoke;
    margin: 10px;
    padding: 100px;
}

.textoIndex {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.slide-top {
    -webkit-animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms both;
    animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

.cont1 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.cont__texto {
    height: 300px;
    width: 500px;
    background-color: #790C5A;

    & p {
        color: #F1D4D4;
        text-align: center;
        padding-top: 1rem;
    }
}