.servicios {
    display: grid;
    height: 500px;
    margin: 1rem;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 40% 40% 10%;

}

.servicios__contenido {
    display: grid;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border-style: solid;
    border-radius: 30px;

    @include responsive(sm) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;

        grid-template-columns: 100%;
        grid-template-rows: 10% 70% 20% ;
    }

    @include responsive(md) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 70%;
    }
}

.servicios {
    background-position: center;
    width: vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicios__titulo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-shadow: white 2px 0 30px;
    font-weight: bolder;
   color: black;
}
.servicios__listado {
    list-style: none;
    & li {
        font-size: larger;
        font-weight: 600;
        text-shadow: white 1px 0 40px;
    }

    @include responsive(sm) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: center;
        margin-right: 20px;
    }

    @include responsive(md) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}

.servicio__detalles{
    @include responsive(sm) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
    }

    @include responsive(md) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.tarjetaServicios1 {
    background-image: url('../../../img/woman-g76d44a5b1_1920.jpg');
}

.tarjetaServicios4 {
    background-image: url('../../../img/relaxation-gfbd3ae2e5_1920.jpg');
}

.tarjetaServicios3 {
    background-image: url('../../../img/sunbeds-gf9e1a0ce4_1920.jpg');
}

.tarjetaServicios2 {
    background-image: url('../../../img/feet-g7b2c59949_1920.jpg');
}

.servicio__precio {
    font-weight: bolder;
    text-shadow: white 1px 0 30px;
}