.sobreNosotros {
    display: flex;
}

.sobreNosotros__historia {
    justify-content: right;
    margin: 1rem;
    margin-top: 60px;
    text-align: center;
}

#videoSalon {
    justify-content: left;
    margin: 2rem;
}

.carousel {
    width: 790px;
    height: 460px;
}